.Collection {
    padding: 1rem;
    padding-bottom: 0.01rem;
    position: relative;
    width: 20rem;
    max-width: 21rem;
}

.Collection button {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Collection span {
    font-size: 1.5rem;
    padding-left: 1rem;
    position: relative;
    bottom: 3rem;
    left: 4rem;
}