.NoteField {
  width: 100%;
  height: 70dvh;
  background-color: #f7ecdc;
  overflow: scroll;
}

.textInputArea {
  width: 100%;
  background: #e8e8e8;
  height: 21dvh;
}

.textInputAreaMobile {
  width: 90%;
  height: 16dvh;
  position: relative;
  inset: 0.8rem;
  border-radius: 6px;
  padding: 0.5rem;
}

.textInputArea button {
  border: none;
  background: none;
  position: absolute;
  bottom: 2%;
  right: 4%;
}

.NF_timefield {
  width: 22%;
}

.NF_notefield {
  max-width: 75%;
}

.NF_individualNoteNode {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
}
